.my-wall-container {
  display: flex;
  flex-direction: row;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}
th {
  width: 40%;
  /* text-align: right; */
}
td {
  text-align: right;
}

/* E repo */
.repo-btn-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}
i {
  margin-right: 10px;
}
.repo-path {
  margin-top: 10px;
}
.repo-path-item {
  margin-left: 10px;
  letter-spacing: 1px;
}
.repo-path-hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1.5px solid black;
  background-color: black;
}

.repo-content {
  margin-top: 24px;
  width: 100%;
  overflow: auto;
}
.repo-content-item {
  margin-bottom: 0;
  padding: 0 16px;
}
.repo-content-item-checkbox {
  margin-right: 10px;
}
.repo-content-item-name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.repo-content-item-owner {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 1px;
}
.repo-content-hr {
  border: 1px solid black;
  background-color: black;
}

/* Open Forum */
.card-head {
  display: "flex",
  justifyContent: "space-between",
}
.forum-button-group > button {
  margin-right: 10px;
  background-color: white;
  border: none;
}

/* E EXAM */
.category-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px #ccc;
}
.category-card-title {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.category-card-questions,
.category-card-time {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}
.category-card-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: fit-content;
  color: black;
  text-decoration: none;
}
.category-card-button:hover {
  background-color: #ccc;
  box-shadow: 0 0 10px #ccc;
}
.category-card-button:focus {
  outline: none;
}
.category-card-button:active {
  background-color: white;
  box-shadow: none;
  transform: translateY(2px);

}

/* Exam Page  */
.question {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 0 10px #ccc;
}
/* select first child of .question-text */
.question-text > *:first-child {
  margin-top: 0;
  font-size: small;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  justify-content: flex-start;
}
.question-text > *:nth-child(2) {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}
.question-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin-left: 20px;
}
.question-option {
  padding: 4px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
}
.question-option > input {
  margin-right: 10px;
}
.question-option > label {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.exam-submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 36px;
}
.exam-submit-button > button {
  padding: 10px 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  text-decoration: none;
}


/* Timer  */
.timer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;

}

